@model IEnumerable<MyShop.Core.Models.Product>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row container">
    <h4>Products</h4>

    @foreach (var item in Model)
    {
        <div class="card col-md-3" style="padding:1rem; margin:1rem; border: 1px solid blue">
            <img class="card-img-top img-responsive text-center img-rounded" src="~/Content/ProductImages/@item.Image" alt="@item.Name">

            <div class="card-body text-center">
                <h5 class="card-title">@Html.ActionLink(item.Name, "Details", new { id = item.Id })</h5>                
                <h6>@Html.DisplayFor(modelItem => item.Category)</h6>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>                
            </div>
            <div class="card-footer text-muted text-center">
                <p>@Html.DisplayFor(modelItem => item.Price)</p>
                <div class="btn btn-sm btn-primary"> Add to Cart</div>
            </div>
        </div>
     } 
    
    <div class="col-md-12 clearfix"></div>
</div>
